#titulo{
    margin: 2.5%;
    text-align: center;
    text-decoration: underline gray;
}

.caixa {
    flex: 0 0 calc(100% - 5%);
    border: 1px solid black;
    margin: 20%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;

    
    /* @media (min-width: 768px) {
        .caixa {
            flex: 0 0 calc(50% - 5%);
        }
    } */
}


.container-fluid-xs {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
} 

/* Conteudo da caixa */
#materia{
    text-align: center;
    font-size: smaller;
}
#nome{
    text-align: center;
}
.image {
    width: 100px;
    max-width: 100%;
    min-width: 50px;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    object-fit: contain;
    object-position: center center;
}

/* Esconder Scroll horizontal */
body { overflow-x: hidden; }